@model SourceControlFinalAssignment.Models.UserLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserAccount.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login100-form">
        <span class="login100-form-title">
            Login
        </span>
        @if (TempData["msg"]!=null)
        {
            <b style="color:red" class="alert-warning">@TempData["msg"]</b>
        }
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="wrap-input100">

            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input100", @placeholder = "Enter Username" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

        </div>     
        <div class="wrap-input100">

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", @placeholder = "Enter Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
        <div class="container-login100-form-btn">
            <input type="submit" value="Login" class="login100-form-btn" />
        </div>
        <div class="text-center p-t-12">
            <a class="txt2" href="~/Home/Registration">
                Not Have An Account? Register Here
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}